<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
    
  {%- include head.html -%}

  <style>
  .container { position:relative; }
  .container video {
    position:relative;
    z-index:0;
  }
  .overlay {
    position:absolute;
    top:0;
    left:0;
    z-index:1;
  }
  </style>

  <body>

    {%- include header.html -%}

    <!-- <video autoplay muted loop id="myVideo">
      <source src="/video/highrise-solitude.mp4" type="video/mp4">
      Your browser does not support HTML5 video.
    </video> -->

    <!-- <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main> -->

    <div class="container">
      <video autoplay muted loop id="video" width="1920" height="1080">
          <source src="video/highrise-solitude.mp4" type="video/mp4" />
      </video>
      <div class="overlay">
          {{ content }}
      </div>
    </div>

    {%- include footer.html -%}

  </body>

</html>
